/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}
body {
    font-family: 'Istok Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: 'RocknRoll One', sans-serif !important;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    padding: 0 10%;
}
